:root {
  --while-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --btn-color: #b8100d;
}

* {
  /* Kế thừa từ thẻ chứa nó */
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Thì 1rem là 10px*/
  line-height: 1.7rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
